{% extends 'base_2.html' %}
{% load static %}
{% block content%}

<div class="position-relative p-3 p-md-5 text-bg-info">
    <h2 class="fw-bold">BILLETTERIE DES JEUX OLYMPIQUES</h2><br>
    <h3 class="fw-normal mb-3 text-white">Différents sports sont à nouveau disponibles à la vente ! La
        billetterie de Paris 2024 connaissant un grand succès, certaines sessions sont d’ores et déjà
        écoulées.<br>
        <br>
        Des billets seront régulièrement mis en vente. Pour être tenu informé, consultez régulièrement ce site
        et créez-vous un compte pour recevoir les dernières actualités billetterie.<br>
        <br>
        Il est possible que certaines sessions soient momentanément indisponibles à la vente. Nous vous invitons
        à vous reconnecter dans quelques jours pour vérifier à nouveau la disponibilité de ces sessions.
    </h3>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>

<div class="container mt-5">
    <div class="row">
        {% for offer in offers %}
        <div class="col-md-4 mb-2">
            <div class="d-flex flex-column w-100 my-md-3 ps-md-3 container img-fluid"
                style="background-image: url('{% static "images/Firefly_atheltisme_jeux_olympiques_paris_2024_21356.jpg" %}'); background-size: cover; background-position: center; height: 350px; border-radius: 10px">
                <div class="me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden mt-1 rounded shadow-box mt-4">
                    <div>
                        <p class="card-text mb-0 text-white fs-4"
                        style="text-shadow: 4px 4px 8px rgba(0, 0, 0, 1.5);border-radius:7px"><b>Prix: {{ offer.price }} €</b></p>
                    </div>
                    <div class="my-3 py-3">
                        <h2 class="display-5 text-white fw-bold" style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">{{ offer.name|upper }}</h2>
                        <p class="lead text-white shadow">{{ offer.decription }}</p>
                    </div>
                    <p class="lead d-flex justify-content-between">
                        <button class="btn btn-sm btn-primary add-to-cart" data-offer-id="{{ offer.id }}">Ajouter au
                            panier</button>
                        <button class="btn btn-sm btn-danger remove-from-cart mt-1"
                            data-offer-id="{{ offer.id }}">Supprimer</button>
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="d-flex justify-content-between align-items-center mb-4 mt-4">
        <h4>Total : {{ total }}€ </h4>
        <button class="btn btn-success">
            <a class="nav-link me text-white" href="{% url 'cart' %}">Acceder au panier</a>
        </button>
    </div>
</div>
</div>






<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.add-to-cart').click(function () {
            var offerId = $(this).data('offer-id');
            $.ajax({
                url: "{% url 'add_to_cart' 0 %}".replace(0, offerId),
                method: "POST",
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}"
                },
                success: function (response) {
                    var currentCount = parseInt($('#cart-count').text());
                    if (!isNaN(currentCount)) {
                        $('#cart-count').text(currentCount + 1);
                    } else {
                        $('#cart-count').text(1);
                    }
                    location.reload();
                },
                error: function (response) {
                    alert('Une erreur est survenue.');
                }
            });
        });
    });

    $(document).ready(function () {
        $('.remove-from-cart').click(function () {
            var offerId = $(this).data('offer-id');
            $.ajax({
                url: "{% url 'remove_from_cart' 0 %}".replace(0, offerId),
                method: "POST",
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}"
                },
                success: function (response) {
                    var currentCount = parseInt($('#cart-count').text());
                    if (!isNaN(currentCount)) {
                        $('#cart-count').text(currentCount - 1);
                    } else {
                        $('#cart-count').text(1);
                    }
                    $('#offer-' + offerId).remove();
                    location.reload();
                },
                error: function (response) {
                    alert('Une erreur est survenue.');
                }
            });
        });
    });

</script>
{% endblock %}